#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(19, 15, 15, 0.8);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    backdrop-filter: blur(8px);
    z-index: 100002;
    display: block !important;
    
}

#transfer {
    background-color: rgb(24, 22, 22);
    border: 1px solid rgb(222, 226, 230);
    border-radius: 0.5em;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;  /* Adjust width */
    max-width: 600px; /* Prevent overflow */
    z-index: 100004; /* Ensure modal is above the overlay */
    max-height: 80vh; /* Prevent modal overflow */
    overflow-y: auto; /* Allow scrolling */
    background-image: url(../app/images/money-8763.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: white
  
    
}
#transfer:hover {
  
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3); /* Bigger glow effect */
    border: 2px solid #a47e1b /* Border shines in blue */
  }

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    padding: 1em;
    margin-top: 1em;
    border-radius: 0.25em;
    text-align: center;
}
